#wrapper {
	width: 300px;
	height: 100px;
	border: 1px solid #c3c3c3;
	display: flex;
}

#sidebar {
	background: gray;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 150px;
}

#content {
	background: green;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 750px;
}
